/*@import url('https://fonts.googleapis.com/css?family=Ubuntu:300');*/
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:200');

body {

  /*font-family: 'Ubuntu', sans-serif;*/
  font-family: 'Titillium Web', sans-serif;

  background-color: #315481;

  background-image: linear-gradient(to bottom, #B5B2A1, #DBD8C3 100%);

  background-attachment: fixed;

 

  position: absolute;

  top: 0;

  bottom: 0;

  left: 0;

  right: 0;

 

  padding: 0;

  margin: 0;

 

  font-size: 14px;

}

 

.container {

  max-width: 1500px;
  /*max-height: 900px;*/

  margin: 0 auto;

  min-height: 96%;

  background: white;

}

 

header {

  background: #d2edf4;

  background-image: linear-gradient(to bottom, #B5B2A1, #DBD8C3 100%);

  padding: 0px 0px 0px 0px;

  position: relative;
  margin: auto 0;


}

 

footer {
  background: #d2edf4;
  background-image: linear-gradient(to bottom, #B5B2A1, #DBD8C3 100%);
  padding: 1px 1px 1px 1px;
  margin: auto 0;

  /*position: relative;  */
}

#login-buttons {
  font-family: 'Titillium Web', sans-serif;
  /*background-color: black;*/
  font-size: 18px;
  /*color: white;*/
  margin-left: 10px;
  margin-top: 10px;
  /*display: block;*/

}

 

h1 {

  font-size: 1.5em;

  margin: 0;

  margin-bottom: 7px;

  display: inline-block;

  margin-right: 1em;

}

 

form {

  margin-top: 10px;

  margin-bottom: -10px;

  position: relative;

}

 

.new-task input {

  box-sizing: border-box;

  padding: 10px 0;

  background: transparent;

  border: none;

  width: 100%;

  padding-right: 80px;

  font-size: 1em;

}

 

.new-task input:focus{

  outline: 0;

}

 

ul {

  margin: 0;

  padding: 0;

  background: white;

}

 

.delete {

  float: right;

  font-weight: bold;

  background: none;

  font-size: 1em;

  border: none;

  position: relative;

}

 

li {

  position: relative;

  list-style: none;

  padding: 15px;

  /*border-bottom: #eee solid 1px;*/

}

 

li .text {

  margin-left: 10px;

}

 

li.checked {
  color: #888;
}

li.checked .text {
  text-decoration: line-through;
}

li.private {
  background: #eee;
  border-color: #ddd;
}

header .hide-completed {
  float: right;
}

.toggle-private {
  margin-left: 5px;
}

@media (max-width: 1500px) {

  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-task input {
    padding-bottom: 5px;
  }
}

ol.cities {
  font-size: 16px;
  margin: auto 0;
  list-style:none;
  position:relative;
  left:5%;
}

ol.cities li {
    display: inline-block;
    background:rgba(221, 221, 221, 0);
    height: 19px;
    padding: 6px 1px 1px 1px;
    margin-left: 40px;
    /*border-bottom: #FF0000 solid 1px;*/
    border-bottom: white solid 1px;

    color: black;
}

ol.cities li:hover {
    background-image: linear-gradient(to bottom, #400515, #DBD8C3 100%);
}

ol.cities li:active {
    background-color: green;
}
