<body>

  <div class="container">

    <header>
      <!-- {{> loginButtons}} -->

      <!-- {{#if currentUser}} -->
      <!-- <form class="new-task"> -->
        <!-- <input type="text" name="text" placeholder="Type to add new tasks" /> -->
      <!-- </form> -->
      <!-- {{/if}} -->

      <!-- <h1>Todo List ({{incompleteCount}})</h1> -->


      <h1>
        <!-- <ol class="cities" onclick="lang1(event);"> -->
          <ol>
            <!-- {{#each cities}} -->
              <!-- {{>city}} -->
            <!-- {{/each}} -->




            {{#each events}}

              {{> event}}

             {{/each}}



          </ol>
          <!-- <li>Barcelone</li>
          <li>Berlin</li>
          <li>Chicago</li>
          <li>Ibiza</li>
          <li>London</li>
          <li>Los Angeles</li>
          <li>Miami</li>
          <li>New York</li>
          <li>Paris</li>
          <li>Rome</li>
          <li>Shanghai</li>
          <li>Tokyo</li>
        </ol> -->
      </h1>

      <!-- <label class="hide-completed">
        <input type="checkbox" />
        Hide Completed Tasks
      </label> -->


    </header>

    <!-- <ul>
      {{#each tasks}}
        {{> task}}
      {{/each}}
     </ul>-->

    <footer>

    </footer>

  </div>
  
</body>


