<template name="event">

	<li class="event">

		<!-- cover -->
		<!-- # img {{cover}} -->

		<!-- template artist -->
		<!-- # for artist in artists -->
		<!-- <ul> 
			
			<li class="artist">{{artist}}						</li>
			
			<li class="artist_soundcloud">{{artist_soundcloud}}	</li>
		<ul> -->

		<!-- template venue -->
		<!-- # venue -->

		<!-- description -->
		<p>{{description}}</p>
		
		<!-- fb stats -->
		<!-- template facebook event statistic -->
		
		<!-- guestlists -->
		<!-- template guestlist -->

	</li>

</template>
